body.light {
    background-image: url('../assets/images/backgrounds/light/404.jpg');
}

body.dark {
    background-image: url('../assets/images/backgrounds/dark/404.jpg');
}

h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #FF0000;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
}

p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #fff;
}

#back {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Minecraft, sans-serif;
    background-color: #0cc0df;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#back:hover {
    font-size: 35px;
}
