@font-face {
    font-family: Minecraft;
    src: url('../assets/fonts/minecraft.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: Minecraft, sans-serif;
    background:#f7f8fb; color:#111;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow:0 1px 0 rgba(16,24,40,0.04);
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#topBar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #fff;
    box-shadow:0 1px 0 rgba(16,24,40,0.04);
    box-sizing: border-box;
}

#topLogo {
    display: flex;
    position: absolute;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 10px;
    align-items: center;
}

#menuToggle {
    display: flex;
    position: absolute;
    top: 10px;
    left: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#menu {
    display: none;
    position: fixed;
    margin-top: 50px;
    padding: 15px;
    height: 100%;
    width: 175px;
    background-color: #ecffd2;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #333;
    box-sizing: border-box;
}

#links {
    display: flex;
    margin-top: auto;
    margin-bottom: 50px;
    flex-direction: column;
}

#links a {
    margin: 15px 0;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#menuLogo {
    display: flex;
    margin-bottom: auto;
    width: 50px;
    flex-direction: column;
    align-items: center;
}