body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #a2bfea;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 60px 60px 2px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.list {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    width: 300px;
    flex-shrink: 0;
}

.list img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.name {
    background-color: #eee;
    padding: 10px;
    font-weight: bold;
}

.desc {
    padding: 10px;
}

.date {
    padding: 10px;
    background-color: #eee;
}
.list a {
  display: inline-block;
  padding: 0.65rem 1.6rem;
  background: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  cursor: pointer;
  border: 1px solid #007BFF;
  transition: all 0.2s ease;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.list a:hover {
  background: white;
  color: #0056b3;
  border-color: #0056b3;
}

/* Mobile Optimization */
@media (max-width: 600px) {
    .project {
        width: 90%;
    }
}