body.light {
    background-image: url('../assets/images/backgrounds/light/credit.jpg');
}

body.dark {
    background-image: url('../assets/images/backgrounds/dark/credit.jpg');
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
