body.light {
    background-image: url('../assets/images/backgrounds/light/credit.jpg');
}

body.dark {
    background-image: url('../assets/images/backgrounds/dark/credit.jpg');
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9998;
}

#secret1-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 9999;
}

#secret1-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 300px;
}

#secret1-text1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    font-size: 25px;
    color: #000;
}

#secret1-text2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    font-size: 20px;
    color: #000;
}
