body.light {
    background-image: url('../assets/images/backgrounds/light/redeem.jpg');
}

body.dark {
    background-image: url('../assets/images/backgrounds/dark/redeem.jpg');
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    margin: auto;
    background-color: rgba(218, 218, 218, 0.8);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#rickroll {
    display: none;
}

#rickrollVideo {
    width: 100%;
    height: 100%;
}

#invalid {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #f2dede;
    border-radius: 4px;
    border: 1px solid #ebccd1;
    color: #a94442;
    z-index: 9999;
}

#close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9998;
}

#recaptcha {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
