html, body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body.light {
    background-image: url('../assets/images/backgrounds/light/server.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    color: white;
}

body.dark {
    background-image: url('../assets/images/backgrounds/dark/server.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 100vh;
    color: white;
}

header {
    /* Add your header styles if needed */
}

main {
    font-family: Minecraft, sans-serif;
    text-align: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #007BFF;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h4 {
    color: #28a745;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    font-family: Minecraft, sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 20px 0;
}

button:hover {
    background-color: #0056b3;
}

strong {
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
