body.light {
    background-image: url('../assets/images/backgrounds/light/server.jpg');
}
    body.dark {
    background-image: url('../assets/images/backgrounds/dark/server.png');
    }
     /* Light background 
    color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Full viewport height */
}


main {
    font-family: Minecraft, sans-serif; 
    /* Rounded corners */
     /* Subtle shadow */
    padding: 20px;
    text-align: center;
    max-width: 400px; /* Limit the width */
}

/* Heading styles */
h2 {
    color: #007BFF; /* Blue color for the main heading */
    margin-bottom: 10px;
}

h4 {
    color: #28a745; /* Green color for the subheading */
    margin-bottom: 20px;
}


button {
    background-color: #007BFF; /* Blue background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for the button */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth transition */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


strong {
    display: block; /* Make it a block element */
    margin-top: 20px; /* Space above */
    color: #666; /* Grey color for the note */
    font-size: 14px; /* Smaller font size */
}
