body{
    font-family: Minecraft, sans-serif;
    margin: 50px 25px;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}


/* Container */
.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h1, h2 {
    color: #1e90ff;
}

/* Links */
a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* Back to Home Button */
button {
    background-color: #e60e00;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #e62e00;
}
/* Highlight current page link */
[data-tos-version].current-page {
    font-weight: bold;
    color: #0cc0df;
    pointer-events: none;
    text-decoration: none;
}
