body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #111;
}

h1 {
    color: #333;
}

form {
    background-color: #f0f5ff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin: 10px;
    position: relative;
}

/* Custom radio button style */
input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #111;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    cursor: pointer;
}

/* Change the color of the radio button when selected */
input[type="radio"]:checked + label::before {
    background-color: #111;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#results {
    background-color: #111;
    color: white;
    display: none;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}
